.left_col{
    background: #006C3A;
    color: #fff;
}
.nav_title{
    /*background: #07bc65;*/
    background: #006C3A;
    color: #fff;
}

body{
    background: #006C3A;
}

.li.active{

    background: #07bc65;

}

.profile_info span{
    color: #fff;
}

.nav.side-menu>li>a, .nav.child_menu>li>a{
    color: #fff;
}
.current-page{
    background: #09874c;
}

.nav child_menu{
    background: #09874c
}
