<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Trabalhe Conosco - Valorem Agronegócios</title>

        <!-- Bootstrap -->
        <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

        <!-- Custom Theme Style -->
    </head>

    <body>
        <div class="container">

            <div class="col-md-12">
               <a href="/"> <img class="img-responsive" src="images/logo.jpg" height="100px"></a>
            </div>
            <div class="col-md-12">
                <p><b>Prezado(a) Candidato(a),</b></p>
                <p>
                    Agradecemos seu interesse em trabalhar em nossa empresa.
                    Seu currículo permanecerá em nosso banco de talentos e, caso seu
                    perfil esteja adequado com alguma das nossas vagas, faremos contato para o processo seletivo.
                <p>



            </div>
        </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!-- FastClick -->
        <script src="../vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="../vendors/nprogress/nprogress.js"></script>
        <!-- jQuery Smart Wizard -->
        <script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="../build/js/custom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

        <script type="text/javascript">
            $("#cep").mask("00000-000");
            $("#telefoneCelular").mask("(00) 00000-0000");
            $("#telefoneFixo").mask("(00) 0000-0000");

        </script>
        <script src="build/js/curriculo.js" type="text/javascript"></script>

    </body>
</html>