{% extends "Layout.html.twig" %}

{% block head %}
       {{ parent()}} 

{% endblock %}
{% block content %}
    {{ parent()}} 
    
{% endblock %}

{% block corpo %}
  Página principal
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}
   
{% endblock %}

