{% extends "Layout.html.twig" %}
{% block head %}
	{{ parent()}}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.3/sc-2.0.2/datatables.min.css"/>
{% endblock %}
{% block content %}
	{{ parent()}}

{% endblock %}
{% block corpo %}
	<h3>
		<b>Currículos cadastrados</b>
	</h3>
	{% if curriculos != null %}
		<table class="table table-striped table-bordered" width="100%" id="datatable" cellspacing="0">
			<thead>
				<tr>
					<th>
						<center>Nome Completo</center>
					</th>
					<th>
						<center>Nacionalidade</center>
					</th>
				
					<th>
						<center>Data nascimento</center>
					</th>
						<th>
						<center>Escolaridade</center>
					</th>
					<th>
						<center>Estado Civil</center>
					</th>
					<th>
						<center>Área de interesse</center>
					</th>
					<th>
						<center>Empregado</center>
					</th>
					<th>
						<center>Data Inclusão</center>
					</th>

					<th>
						<center>Arquivo</center>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for dado in curriculos %}
					<tr>
						<td class="text-left">{{dado.nomeCompleto}}</td>
						<td class="text-left">{{dado.nacionalidade}}</td>
						<td class="text-left">{{dado.dataNascimento | date('d/m/Y')}}</td>
						<td class="text-left">{{dado.escolaridade}}</td>
						<td class="text-left">{{dado.estadoCivil}}</td>
						<td class="text-left">{{dado.areaInteresse}}</td>
						<td class="text-left">{{dado.empregado}}</td>
						<td class="text-left">{{dado.dataInclusao | date('d/m/Y H:i')}}</td>
						<td class="text-center">
							{% if dado.data == null %}
								Sem anexo
							{% else %}
								<a onclick="abrirCurriculo('{{dado.data}}');"><i class="fa fa-file-pdf-o" aria-hidden="true"> Visualizar</i></a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>
		<br>
	{% else %}
		<div class="alert alert-danger animated fadeInUp">
			<center>Sem currículos cadastrados!</center>
		</div>
	{% endif %}
{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}
{% block js %}
	{{ parent() }}
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.3/sc-2.0.2/datatables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
$('#datatable').DataTable();
});
	</script>

	<script src="js/gestao.js" type="text/javascript"></script>


{% endblock %}
