<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
		http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Trabalhe Conosco - Valorem Agronegócios</title>

		<!-- Bootstrap -->
		<link
		href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- Font Awesome -->
		<link
		href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<!-- NProgress -->
		<link
		href="../vendors/nprogress/nprogress.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	</head>

	<body>
		<div class="container">

			<div class="col-md-12">
				<a href="/"><img class="img-responsive" src="images/logo.jpg" height="100px"></a>
			</div>
			<div class="col-md-12">
				<h3>Trabalhe Conosco</h3>
				<p>
					<b>Favor preencher o formulário e anexar seu currículo.</b>
				</p>

				<form name="formCurriculo" id="formCurriculo" action="/enviarCurriculo" enctype="multipart/form-data" method="POST" class="form-horizontal form-label-left">
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="nomeCompleto">Nome Completo
							<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="nomeCompleto" name="nomeCompleto" required="required" class="form-control  ">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="nacionalidade">Nacionalidade
							<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="nacionalidade" name="nacionalidade" required="required" class="form-control  ">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="dataNascimento">Data Nascimento
							<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="date" id="dataNascimento" name="dataNascimento" required="required" class="form-control  ">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="estadoCivil">Estado Civil
							<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<select id="estadoCivil" name="estadoCivil" class="form-control">
								<option value="Solteiro" class="form-control">Solteiro</option>
								<option value="Casado" class="form-control">Casado</option>
								<option value="Divorciado" class="form-control">Divorciado</option>
								<option value="Viúvo" class="form-control">Viúvo</option>
								<option value="Separado" class="form-control">Separado</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="sexo">Gênero
							<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<select id="sexo" name="sexo" class="form-control">
								<option value="Masculino" class="form-control">Masculino</option>
								<option value="Feminino" class="form-control">Feminino</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="curso">Curso
						</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="curso" name="curso" class="form-control  ">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="instituicao">Instituição
						</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="text" id="instituicao" name="instituicao" class="form-control  ">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="escolaridade">Escolaridade<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<select id="escolaridade" name="escolaridade" class="form-control">
								<option value="Fundamental - Incompleto" class="form-control">Fundamental - Incompleto</option>
								<option value="Fundamental - Completo" class="form-control">Fundamental - Completo</option>
								<option value="Médio - Incompleto" class="form-control">Médio - Incompleto</option>
								<option value="Médio - Completo" class="form-control">Médio - Completo</option>
								<option value="Superior - Incompleto" class="form-control">Superior - Incompleto</option>
								<option value="Superior - Completo" class="form-control">Superior - Completo</option>
								<option value="Pós-graduação (Lato senso)" class="form-control">Pós-graduação (Lato senso)</option>
								<option value="Pós-graduação (Stricto sensu nível mestrado)" class="form-control">Pós-graduação (Stricto sensu nível mestrado)</option>
								<option value="Pós-graduação (Stricto sensu nível doutor)" class="form-control">Pós-graduação (Stricto sensu nível doutor)</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="interesse">Área de interesse<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<select id="empregado" name="interesse" class="form-control">
								<option value="Administrativo | Almoxarifado " class="form-control">Administrativo | Almoxarifado
								</option>
								<option value="Administrativo | Balança" class="form-control">Administrativo | Balança</option>
								<option value="Administrativo | Compras" class="form-control">Administrativo | Compras</option>
								<option value="Administrativo | Controladoria" class="form-control">Administrativo | Controladoria</option>
								<option value="Administrativo | Financeiro" class="form-control">Administrativo | Financeiro</option>
								<option value="Administrativo | Jurídico" class="form-control">Administrativo | Jurídico</option>
								<option value="Administrativo | Recursos Humanos" class="form-control">Administrativo | Recursos Humanos</option>
								<option value="Administrativo | Tecnologia da Informação" class="form-control">Administrativo | Tecnologia da Informação</option>
								<option value="Administrativo | Transporte" class="form-control">Administrativo | Transporte</option>
								<option value="Administrativo | Conservação e Limpeza" class="form-control">Administrativo | Conservação e Limpeza</option>
								<option value="Administrativo | Portaria" class="form-control">Administrativo | Portaria</option>
								<option value="Administrativo | Estagiário" class="form-control">Administrativo | Estagiário</option>
								<option value="Administrativo | Traniee" class="form-control">Administrativo | Traniee</option>
								<option value="Produção | Armazém/Expedição" class="form-control">Produção | Armazém/Expedição</option>
								<option value="Produção | Manutenção" class="form-control">Produção | Manutenção</option>
								<option value="Produção | PCP" class="form-control">Produção | PCP</option>
								<option value="Produção | Projetos" class="form-control">Produção | Projetos</option>
								<option value="Produção | Qualidade" class="form-control">Produção | Qualidade</option>
								<option value="Produção | Beneficiamento de Sementes" class="form-control">Produção | Beneficiamento de Sementes</option>
								<option value="Produção | Saúde Segurança e Meio Ambiente (SSMA)" class="form-control">Produção | Saúde Segurança e Meio Ambiente (SSMA)</option>
								<option value="Produção | Estagiário" class="form-control">Produção | Estagiário</option>
								<option value="Produção | Trainee" class="form-control">Produção | Trainee</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="soubeValorem">Como soube da Valorem<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<select id="soubeValorem" name="soubeValorem" class="form-control">
								<option value="Internet" class="form-control">Internet</option>
								<option value="TV" class="form-control">TV</option>
								<option value="Rádio" class="form-control">Rádio</option>
								<option value="Jornal" class="form-control">Jornal</option>
								<option value="Amigos" class="form-control">Amigos</option>
								<option value="Colegas de trabalho" class="form-control">Colegas de trabalho</option>
								<option value="Outros" class="form-control">Outros</option>

							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="empregado">Está empregado?<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<select id="empregado" name="empregado" class="form-control">
								<option value="Sim" class="form-control">Sim</option>
								<option value="Não" class="form-control">Não</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-md-3 col-sm-3 label-align" for="curriculo">Anexar seu currículo<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 ">
							<input type="file" required="" name="curriculo" class="form-control">

						</div>
					</div>
					<div class="col-md-9 col-sm-9 ">

						<button type="submit" class="btn btn-success btn-lg" style="float: right">Enviar
						</button>
					</div>
				</form>


			</div>
		</div>

		<!-- jQuery -->
		<script src="../vendors/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap -->
		<script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<!-- FastClick -->
		<script src="../vendors/fastclick/lib/fastclick.js"></script>
		<!-- NProgress -->
		<script src="../vendors/nprogress/nprogress.js"></script>
		<!-- jQuery Smart Wizard -->
		<script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
		<!-- Custom Theme Scripts -->
		<script src="../build/js/custom.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

		<script type="text/javascript">
			$("#cep").mask("00000-000");
$("#telefoneCelular").mask("(00) 00000-0000");
$("#telefoneFixo").mask("(00) 0000-0000");
		</script>
		<script src="build/js/curriculo.js" type="text/javascript"></script>

	</body>
</html>
