<!DOCTYPE html>
<html lang="pt-br">
	<head>
		{% block head %}
			<meta
			http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<!-- Meta, title, CSS, favicons, etc. -->
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="icon" href="images/valorem/logo.png" type="image/ico"/>

			<title>Work | Valorem
			</title>


			<!-- Bootstrap -->
			<link
			href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
			<!-- Font Awesome -->
			<link
			href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
			<!-- NProgress -->
			<link
			href="vendors/nprogress/nprogress.css" rel="stylesheet">
			<!-- iCheck -->
			<link
			href="vendors/iCheck/skins/flat/green.css" rel="stylesheet">

			<!-- bootstrap-progressbar -->
			<link
			href="vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
			<!-- JQVMap -->
			<link
			href="vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
			<!-- bootstrap-daterangepicker -->
			<link
			href="vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

			<!-- Custom Theme Style -->
			<link href="build/css/custom.css" rel="stylesheet">
			<link
			href="css/valorem.css" rel="stylesheet" type="text/css"/>

			<!-- Datatables -->

			<link href="vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
			<link href="vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
			<link href="vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
			<link href="vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
			<link href="vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
		{% endblock %}
	</head>
	<body class="nav-md">

		{% block content %}
			<div class="container body">
				<div class="main_container">
					<div class="col-md-3 left_col">
						<div class="left_col scroll-view">
							<div class="navbar nav_title" style="border: 0; background: #EDEDED">
								<center>
									<a href="/gestao" class="site_title"><img src="images/login/favicon.png" class="img-circle" style="height: 40px">
										<span style="color: #006c3a">Work
											<b>Valorem</b>
										</span>
									</a>
								</center>
							</div>

							<div class="clearfix"></div>
							<div class="profile clearfix">

								<div class="profile_info">
									<span >Bem-vindo,</span>
									<h2>
										<b>{{user.nome}}</b>
									</h2>
								</div>
							</div>
							<!-- /menu profile quick info -->

							<br/>

							<!-- sidebar menu -->
							<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
								<div class="menu_section">
									<h3>Módulos</h3>
									<ul class="nav side-menu">
										<li>
											<a href="/gestao">
												<i class="fa fa-home"></i>Gestão</a>

										</li>
										<li>
											<a href="/removerUsuario">
												<i class="fa fa-sign-out"></i>Sair</a>

										</li>


									</ul>
								</div>
							</div>
							<!-- /sidebar menu -->

						<!-- /menu footer buttons -->

							<!-- /menu footer buttons -->
						</div>
					</div>

					<!-- top navigation -->
					<div class="top_nav">
						<div class="nav_menu">
							<nav>
								<div class="nav toggle">
									<a id="menu_toggle" style="color: #006C3A">
										<i class="fa fa-bars"></i>
									</a>
								</div>

								<ul class="nav navbar-nav navbar-right">
									<li class="nav-item dropdown open">
										<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											{{user.nome}}
											
										</a>
										
									</li>
								</ul>
							</nav>
						</div>
						</div>

						<div class="right_col" role="main">
							<div class="">

								{% block corpo %}{% endblock %}
							</div>
						</div>
						<footer>
							{% block footer %}
								<div class="pull-right">
									Work Valorem - Departamento TI
								</div>
								<div class="clearfix"></div>
							{% endblock %}
						</footer>
					</div>
				</div>
			
		{% endblock %}


		{% block js %}
			<!-- jQuery -->
			<script src="vendors/jquery/dist/jquery.min.js"></script>
			<!-- Bootstrap -->
			<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
			<!-- FastClick -->
			<script src="vendors/fastclick/lib/fastclick.js"></script>
			<!-- NProgress -->
			<script src="vendors/nprogress/nprogress.js"></script>
			<!-- Chart.js -->
			<script src="vendors/Chart.js/dist/Chart.min.js"></script>
			<!-- gauge.js -->
			<script src="vendors/gauge.js/dist/gauge.min.js"></script>
			<!-- bootstrap-progressbar -->
			<script src="vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
			<!-- iCheck -->
			<script src="vendors/iCheck/icheck.min.js"></script>
			<!-- Skycons -->
			<script src="vendors/skycons/skycons.js"></script>
			<!-- Flot -->
			<script src="vendors/Flot/jquery.flot.js"></script>
			<script src="vendors/Flot/jquery.flot.pie.js"></script>
			<script src="vendors/Flot/jquery.flot.time.js"></script>
			<script src="vendors/Flot/jquery.flot.stack.js"></script>
			<script src="vendors/Flot/jquery.flot.resize.js"></script>
			<!-- Flot plugins -->
			<script src="vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
			<script src="vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
			<script src="vendors/flot.curvedlines/curvedLines.js"></script>
			<!-- DateJS -->
			<script src="vendors/DateJS/build/date.js"></script>
			<!-- JQVMap -->
			<script src="vendors/jqvmap/dist/jquery.vmap.js"></script>
			<script src="vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
			<script src="vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
			<!-- bootstrap-daterangepicker -->
			<script src="vendors/moment/min/moment.min.js"></script>
			<script src="vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

			<script src="vendors/datatables.net/js/jquery.dataTables.min.js"></script>

			<script src="vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
			<script src="vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
			<script src="vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
			<script src="vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
			<script src="vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
			<script src="vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
			<script src="vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
			<script src="vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
			<script src="vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
			<script src="vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
			<script src="vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

			<!-- Custom Theme Scripts -->
			<script src="build/js/custom.min.js"></script>
		{% endblock %}
	</body>
</html></body></html>
