<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Work Valorem | Login</title>
        <link rel="icon" href="images/login/favicon.png" type="image/ico" />
        <link href="valorem/login/css/bootstrap.min.css" rel="stylesheet">
        <link href="valorem/login/css/font-awesome.min.css" rel="stylesheet">
        <link href="valorem/login/css/nprogress.css" rel="stylesheet">
        <link href="valorem/login/css/animate.min.css" rel="stylesheet">
        <link href="valorem/login/css/custom.css" rel="stylesheet">
        <link href="valorem/login/css/valorem.css" rel="stylesheet" type="text/css"/>
        <script src="valorem/login/js/jquery-3.1.1.min.js" type="text/javascript"></script>

        <script src="valorem/login/js/validaLogin.js" type="text/javascript"></script> 

    </head>

    <body style="background: #fff">
        <div class="container">
            <div class="row" id="pwd-container">
                <div class="col-md-4 col-md-offset-4">
                    <form class="login-form" method="post" role="login">
                        <a href="/"><img  class="img-responsive text-center" src="images/login/logo.jpg"></a>
                        <input type="text" autofocus="" name="usuario" id="usuario" placeholder="usuário"  class="form-control input-lg"/>
                        <input type="password" name="senha" id="senha" class="form-control input-lg"  placeholder="senha"  />
                        <h2 id="aviso" style="color: #ff0000;font-size: 16px;"></h2>
                        <div id="output"></div>
                        <button class="btn btn-lg btn-primary btn-block" style="background: #006C3A;border-color: #006C3A">Entrar</button>
                       
                    </form>
                    
                </div>
            </div>
        </div>
    </body>
</html>
